#breadcrumb-bar-placeholder {
  height: 350px;
  width: 100%;
  max-width: $js-max-page-width;
  margin: 0 auto;
  overflow: hidden;
  overflow-x: scroll;
  padding: 10px;
  padding-left: $js-page-padding-left;
  padding-right: $js-page-padding-right;
  #breadcrumb-bar-inner {
    width: 2000px;
    height: 340px;
    overflow-x: auto;
  }

  .product-item {
    width: 180px;
    float: left;
  }
  .buy-button {
    display: none;
  }

  &.category-list ul li .product-image {
    padding-top: 100%;
  }
}

#breadcrumb-bar-placeholder > * {
  font-size: 0;
}

//
//  Medium
//
@media #{$small-only} {
  #breadcrumb-bar-placeholder ul li {
    width: $js-total-products-small;
    padding-right: 20px;
  }
}

//
//  Medium
//
@media #{$medium-only} {
  #breadcrumb-bar-placeholder ul li {
    width: $js-total-products-medium;
    padding-right: 20px;
  }
}

//
//  Large
//
@media #{$large-only} {
  #breadcrumb-bar-placeholder ul li {
    width: $js-total-products-large;
    padding-right: 20px;
  }
}

//
//  X-Large
//
@media #{$xlarge-only} {
  #breadcrumb-bar-placeholder ul li {
    width: $js-total-products-xlarge;
    padding-right: 20px;
  }
}

//
//  XX-Large
//
@media #{$xxlarge-only} {
  #breadcrumb-bar-placeholder ul li {
    width: $js-total-products-xxlarge;
    padding-right: 20px;
  }
}

