<div class="preheader__wrapper">
  <div class="preheader__container">
    <div class="preheader__left"></div>
    <div class="preheader__right">
      <div class="preheader__socials">
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Flesterskor&width=75&layout=button_count&action=like&size=small&show_faces=false&share=false&height=21&appId=" width="75" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

        <a href="https://www.facebook.com/lesterskor" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>

        <a href="https://www.instagram.com/lesterstore" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>