//
//  Settings for Trustpilot
//
$trustpilot-wrapper-background-color: #efefef;
$trustpilot-wrapper-border-color: darken($trustpilot-wrapper-background-color,5%);


.trustpilot-wrapper {
  margin-top: 12px;

  &.trustpilot-review-collector {

  }

  &.trustpilot-list {

  }

  &.trustpilot-horizontal {
    clear: both;
    padding-top: 14px;
    padding-bottom: 10px;
    background-color: $trustpilot-wrapper-background-color;
    border-top: 1px solid $trustpilot-wrapper-border-color;
    border-bottom: 1px solid $trustpilot-wrapper-border-color;
  }

  &.trustpilot-dropdown {
    clear: both;
    padding-top: 10px;
    padding-bottom: 4px;
    background-color: $trustpilot-wrapper-background-color;
    border-top: 1px solid $trustpilot-wrapper-border-color;
    border-bottom: 1px solid $trustpilot-wrapper-border-color;
  }

}