//
// Product Image To Body Background
//
$normal-state-bg: $white;
$normal-state-color: #333;
$active-state-bg: #444;
$active-state-color: $white;
$dimension: 30;

.product-img-to-body-bg {
    position: absolute;
    right: 7px;
    bottom: 7px;
    width: $dimension + 0px;
    height: $dimension + 0px;
    border: $global-border-solid;
    @include border-radius(100%);
    padding: 5px;
    line-height: 1.3;
    text-align: center;
    color: $normal-state-color;
    background-color: $normal-state-bg;

    &.product-is-previewed {
        color: $active-state-color;
        background-color: $active-state-bg;
        border: 1px solid darken($active-state-bg, 100%);
        &:hover {
            color: darken($active-state-color, 10%);
        }
    }
}