@import "../../../scss/foundation/functions";
@import "../../../scss/base_settings";
@import "../../../scss/responsive-base/mixins";

div.preheader__wrapper {
  @include clearfix();

  background: $primary-dark;
  color: darken($primary-light, 15%);
  font-size: 0.75rem;
  padding: 4px 0;
  text-transform: uppercase;

  a {
    color: darken($primary-light, 15%);

    &:hover {
      text-decoration: underline;
    }
  }

  div.preheader__container {
    margin: 0 auto;
    max-width: $js-max-page-width;
    padding: 0 $js-main-area-padding-left;
    width: 100%;

    div.preheader__left {
      float: left;
    }

    div.preheader__right {
      float: right;
    }

    div.culture-selector-wrapper {
      float: left;
      margin: -3px 8px -9px 0;
    }

    div.preheader__socials {
      float: left;

      iframe {
        float: left;
        margin: -1.5px 0 -2.5px;
        margin-right: 8px;
      }

      a {
        float: left;
        font-size: .875rem;
        padding: 0 8px;
        line-height: 18px;

        &:last-child {
          padding-right: 0;
        }

        &:hover {
          text-decoration: none;
          color: $primary-color;
        }
      }
    }

    div.page-list-wrapper {
      div.page-link-wrapper,
      a.login-text {
        float: left;
        font-size: .75rem;
      }

      a.login-text {
        display: none;
      }

      div.page-link-wrapper {
        &:first-child {
          display: none;
        }
      }

      a {
        display: inline-block;
        padding: 0 8px;
      }
    }
  }
}