.product-attributes {
  select {
    display: none;
  }
  img {
    display: none;
  }
  .main-attr-btn {
    background: transparent;
    border: none;
    color: $js-body-font-color;
    cursor: pointer;
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    padding: 10px 0;
    height: 40px;
    width: 40px;
    text-align: center;

    span {

    }

    &:hover {

    }
    &.selected {
      background: $js-buy-trail-color;
      border: 0px solid transparent;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      color: #fff;
      box-shadow: $joy-box-shadow;
    }
  }
}

//
//  Medium
//
@media #{$medium-only} {
}

//
//  Small
//
@media #{$small-only} {

}