<h3>Färgvarianter</h3>
{{#each variants}}
    <div class="variant">
        <a title="{{{SubName}}}" href="{{ProductUrl}}">
            <img class="lazyimg" title="{{{SubName}}}" data-original="{{Images.0.Url}}" src="{{Images.0.Url}}" alt="{{{SubName}}}" style="display: block;">
        </a>
    </div>
{{/each}}