#upsell-in-checkout-placeholder > *
{
  font-size: 0;
}


#upsell-in-checkout-placeholder {
  background-color: #cdcdcd;
  padding: 10px 10px 0 10px;
  margin-bottom: 22px;
  
  ul {
    li {
      float: left;
      padding: 10px 10px 0 10px;
      margin-bottom: 10px;

      .product-buttons {
        a {
          width: 50%;
          float: left;
        }
      }

    }
  }
}

//
//  Medium
//
@media #{$small-only} {
  @include calculate-item-width(2, $js-product-wrapper-margin-right, "#upsell-in-checkout-placeholder ul li");
}

//
//  Medium
//
@media #{$medium-only} {
  @include calculate-item-width(3, $js-product-wrapper-margin-right, "#upsell-in-checkout-placeholder ul li");
}

//
//  Large
//
@media #{$large-only} {
  @include calculate-item-width(4, $js-product-wrapper-margin-right-large-up, "#upsell-in-checkout-placeholder ul li");
}

//
//  X-Large
//
@media #{$xlarge-only} {
  @include calculate-item-width(4, $js-product-wrapper-margin-right-large-up, "#upsell-in-checkout-placeholder ul li");
}

//
//  XX-Large
//
@media #{$xxlarge-only} {
  @include calculate-item-width(4, $js-product-wrapper-margin-right-large-up, "#upsell-in-checkout-placeholder ul li");
}

