<!-- TrustBox widget -->
<div class="trustpilot-wrapper trustpilot-horizontal">
    <div class="trustpilot-widget" data-locale="{{ locale }}" data-template-id="{{ templateIds.horizontal }}" data-businessunit-id="{{ businessUnitId }}" data-style-height="28px" data-style-width="100%" data-theme="light">
        <a href="https://se.trustpilot.com/review/{{ domain }}" target="_blank">Trustpilot</a>
    </div>
</div>
<!-- End TrustBox widget -->