<!-- TrustBox widget -->
<div class="trustpilot-wrapper trustpilot-list">
    <div class="trustpilot-widget" data-locale="{{ locale }}" data-template-id="{{ templateIds.list }}" data-businessunit-id="{{ businessUnitId }}" data-style-height="500px" data-style-width="100%" data-stars="1,2,3,4,5">
        <a href="https://se.trustpilot.com/review/{{ domain }}" target="_blank">Trustpilot</a>
    </div>
</div>
<!-- End TrustBox widget -->
