<!-- TrustBox widget -->
<div class="trustpilot-wrapper trustpilot-dropdown">
    <div class="trustpilot-widget" data-locale="{{ locale }}" data-template-id="{{ templateIds.dropDown }}" data-businessunit-id="{{ businessUnitId }}" data-style-height="30px" data-style-width="100%" data-theme="light" data-stars="1,2,3,4,5">
        <a href="https://se.trustpilot.com/review/{{ domain }}" target="_blank">Trustpilot</a>
    </div>
</div>
<!-- End TrustBox widget -->