<!-- TrustBox widget -->
<div class="trustpilot-wrapper trustpilot-review-collector">
    <div class="trustpilot-widget" data-locale="{{ locale }}" data-template-id="{{ templateIds.reviewCollector }}" data-businessunit-id="{{ businessUnitId }}" data-style-height="52px" data-style-width="100%">
        <a href="https://se.trustpilot.com/review/{{ domain }}" target="_blank">Trustpilot</a>
    </div>
</div>
<!-- End TrustBox widget -->
