{{> header }}

<script>
    var activeModules = [
        {{#each activeModules.active}}'{{ this }}'{{#unless @last}}, {{/unless}}
        {{/each}}];

    var modules = [
        {{#each modules.children}}
        {
            path: '{{ path }}',
            name: '{{ name }}'
        }{{#unless @last}}, {{/unless}}
        {{/each}}
    ];
</script>

<h1>{{ title }}</h1>

<div class="panel callout">
    This is not an environment for developing modules, consider this a code-bank for grabbing code and see solutions from other developers.
</div>

<p><b>Available modules:</b></p>

<ul id="toc">
    {{#each . }}
        {{#each children}}
            <li class="{{#if active }}active{{#if packageData.deprecated}} deprecated{{/if}}{{/if}}"><a
                    href="#item-{{@index}}">{{name}}</a></li>
        {{/each}}
    {{/each}}
</ul>

<div id="module-list-wrapper">
    {{#each . }}
        {{#each children}}
            <div class="item{{#if active }} active{{/if}}" id="item-{{@index}}">
                <div class="box name">
                    {{#if package }}
                        <h3>{{packageData.name}}</h3>
                    {{ else}}
                        <h3>{{ name }}</h3>
                    {{/if }}
                </div>

                <div class="box info clearfix">
                    {{#if error}}
                        <h1 class="warning"><i class="fa fa-fw fa-warning"></i><b>Error:</b> {{error}}</h1>
                    {{/if}}
                    {{#unless package }}
                        <h1 class="warning"><i class="fa fa-fw fa-warning"></i><b>Missing file:</b> package.json</h1>
                    {{/unless}}
                    {{#unless readme }}
                        <h1 class="warning"><i class="fa fa-fw fa-warning"></i><b>Missing file:</b> readme.md</h1>
                    {{/unless}}
                    {{#if package }}
                        {{#if packageData.deprecated }}
                            <h1 class="warning"><i class="fa fa-fw fa-warning"></i>This module is <b>deprecated</b></h1>
                        {{/if}}
                        {{#if packageData.prototype }}
                            <h1 class="information"><i class="fa fa-fw fa-lightbulb-o"></i>This module is a
                                <b>prototype</b> and may not work</h1>
                        {{/if}}
                        <div class="key">Name</div>
                        <div class="value">{{packageData.name}}</div>
                        <div class="key">Version</div>
                        <div class="value">{{packageData.version}}</div>
                        <div class="key">Description</div>
                        <div class="value">{{packageData.description}}</div>
                    {{/if}}
                    <div class="key">Path</div>
                    <div class="value">{{ path}}</div>
                </div>

                {{#if package }}
                    <div class="box people clearfix">
                        <div class="key">Author</div>
                        <div class="value"><a href="mailto:{{packageData.author.email}}">{{packageData.author.name}}</a>
                        </div>
                        {{#if packageData.contributors }}
                            <div class="key">Contributors</div>
                            <div class="value">
                                {{#each packageData.contributors}}
                                    <a href="mailto:{{email}}">{{name}}</a>{{#unless @last}}, {{/unless}}
                                {{/each}}
                            </div>
                        {{/if}}

                    </div>
                {{/if }}

                {{#if children}}
                <div class="group box files clearfix">
                    <div class="key">
                        <b>Files</b>
                    </div>
                    <div class="value">
                        {{#each children}}
                            {{#ifValue name equals "js" }}
                                <div class="file-list file-list-js">
                                    <b>Javascript</b>
                                    <ul>
                                        {{#each children}}
                                            <li>
                                                <a data-preview="{{path}}" class="preview-trigger">{{ name }}</a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/ifValue }}

                            {{#ifValue name equals "scss" }}
                                <div class="file-list file-list-scss">
                                    <b>Sass</b>
                                    <ul>
                                        {{#each children}}
                                            <li>
                                                <a data-preview="{{path}}" class="preview-trigger">{{ name }}</a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/ifValue }}

                            {{#ifValue name equals "views" }}
                                <div class="file-list file-list-views">
                                    <b>Views</b>
                                    <ul>
                                        {{#each children}}
                                            <li>
                                                <a data-preview="{{path}}" class="preview-trigger">{{ name }}</a>
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/ifValue }}
                        {{/each}}
                    </div>
                </div>
                {{/if}}

                {{#if readme}}
                    <div class="box readme clearfix">
                        <div class="key">
                            <b>readme.md</b>
                        </div>
                        <div class="value">
                            {{{readmeContent}}}
                        </div>
                    </div>
                {{/if}}
            </div>

        {{/each }}
    {{/each }}
</div>

<div id="createModuleModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Create module</h2>
    <p>Module name:</p>
    <p><input type="text" id="module-name" /></p>
    <p><button class="button" onclick="createModule.main()">Create</button> <i>PS: Don't forget to add the module to Git.</i></p>
    <p></p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="exportModuleModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Export module</h2>
    <div id="export-modules-list-placeholder"></div>
    <button class="button" onClick="exportModule.export()">Export</button>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="downloadModuleModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Download module</h2>
    <div id="download-module"></div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="previewFileModal" class="reveal-modal xlarge" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    <textarea id="previewFileModalContent"></textarea>
</div>

<script>

    var exportModule = {
        init: function () {
            $("#exportModuleModal .close-reveal-modal").click(function () {
                exportModule.popup.hide();
            });
        },
        popup: {
            show: function () {
                $('#exportModuleModal').foundation('open').css('visibility','visible');
                exportModule.renderList(modules);
            },
            hide: function () {
                $('#exportModuleModal').foundation('close').css('visibility','hidden');
            }
        },
        renderList: function (data) {
            var string = "";
            for (var key in modules){
                string += '<div><input type="radio" name="module" value="'+ modules[key].name+'"> '+ modules[key].name+'</div>';
            }
            $("#export-modules-list-placeholder").html(string);
        },
        export: function () {
            var selected = $("#export-modules-list-placeholder input[name=module]:checked").val();
            if (typeof selected != "undefined"){
                $.ajax({
                    type: "POST",
                    url: "/modules/export",
                    data: {"selected": selected},
                    dataType: JSON,
                    error: function (data) {
                        var response = JSON.parse(data.responseText);
                        if (response.success) {
                            exportModule.popup.hide();
                            $("#download-module").html("Download your packaged module:<br><a href='/modules/download/" + response.success + "'><i class='fa fa-fw fa-cloud-download'></i> " + response.success + "</a>");
                            $("#download-module").append("<p><br>This file can be found here: <code>core/package/" + response.success + "</code></p>");
                            $('#downloadModuleModal').foundation('open').css('visibility','visible');
                        } else {
                            alert("Error exporting module");
                        }
                    }
                });
            }
        }
    };

    var createModule = {
        init: function () {
            $("#createModuleModal .close-reveal-modal").click(function () {
                createModule.popup.hide();
            });
        },
        main: function () {
            var name = $("#module-name").val();
            if (name !== "") {
                $.ajax({
                    type: "POST",
                    url: "/modules/create",
                    data: {"name": name },
                    dataType: JSON,
                    error: function (data) {
                        var response = JSON.parse(data.responseText);
                        if (response.success) {
                            createModule.popup.hide();
                            location.reload();
                        } else {
                            alert("Folder '" + response.error.path + "' already exists.");
                        }
                    }
                });
            }
        },
        popup: {
            show: function () {
                $('#createModuleModal').foundation('open').css('visibility','visible');
                $("#module-name").focus();
            },
            hide: function () {
                $('#createModuleModal').foundation('close').css('visibility','hidden');
            }
        }
    };

    var filePreview = {
        init: function () {
            $(".preview-trigger").on("click", function () {
                var modulePath = $(this).attr("data-preview");
                var path = "/modules/preview/" + modulePath;
                $.ajax({
                    type: "GET",
                    url: path,
                    success: function (data, textStatus, jqXHR) {
                        $("#previewFileModal .CodeMirror").remove();
                        $("#previewFileModal").find("h6").remove();
                        $('#previewFileModalContent').html(data).before("<h6>" + modulePath +"</h6>");
                        $('#previewFileModal').foundation('open').css('visibility', 'visible');
                        //$('.reveal-modal').css('max-height', $('html').height() - 110 + 'px'); // 100 10px to keep modal effect visible
                        var myTextArea = document.getElementById("previewFileModalContent");
                        var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
                            mode: "javascript"
                        });
                        $(".close-reveal-modal").on("click", function () {
                            $('#previewFileModal').foundation('close').css('visibility', 'hidden');
                        });
                    }
                });
            });
        }
    };

    $(document).ready(function () {
        $(document).foundation();
        createModule.init();
        exportModule.init();
        filePreview.init();
    });
</script>

{{> footer }}
