<div id="breadcrumb-bar-inner">
    <h4>Senaste produkter:</h4>
<ul id="list-category" data-equalizer="list-category">
    {{#each ProductItems }}
    <li class="product-item">
        <div class="product-outer-wrapper">
            <article class="product-wrapper">
                <div class="product-image">
                    <a title="{{Name}}" href="{{ProductUrl}}">
                        <img class="lazyimg" title="{{Name}}" data-original="{{Images.0.Url}}" src="{{Images.0.Url}}"
                             alt="{{Name}}" style="display: block;">
                    </a>
                </div>
                <div class="product-buttons">
                    <a class="button-info" href="{{ProductUrl}}">
                        <span>{{translate "infoButton"}}</span>
                    </a>
                    <a class="buy-button" onclick="AddItemToCart(this,'', '{{Id}}', '{{currentCulture}}', null); ">
                        <span>{{translate "buyButton"}}</span>
                    </a>
                </div>
                <div class="product-info">
                    <div class="product-name" data-equalizer-watch="list-category">
                        <h3>
                            <a title="{{Name}}" data-productid="{{Id}}"
                               href="{{ProductUrl}}">{{Name}}</a>
                        </h3><span
                            class="product-subname">{{Subname}}</span>
                    </div>
                    <!--
                    <div class="product-list-article-number">
                        <span>{{Articlenumber}}</span>
                    </div>
                    -->
                    <div class="product-price">
                        <div class="price-promotion">
                        <span id="ctl00_main_ctl02_ctl03_labProductListPrice" class="price-amount">
                            {{#ifValue DiscountedPrice equals="-1"}}
                                {{#if (isVatIncluded)}}
                                    {{PriceString}}
                                {{else}}
                                    {{ PriceStringWithoutVat }}
                                {{/if}}
                            {{else}}
                                {{#if (isVatIncluded)}}
                                    {{DiscountedPriceString}}
                                {{else}}
                                    {{DiscountedPriceStringWithoutVat}}
                                {{/if}}
                            {{/ifValue}}
                        </span>
                        </div>
                        <!--
                        <div class="price-previous">
                            <span class="price-amount">{{DiscountedPriceString}}</span>
                        </div>
                        -->
                    </div>
                    <div class="product-list-description"></div>
                </div>
            </article>
        </div>
    </li>
    {{/each}}
</ul>
</div>